   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body {
       background-color: white;
       /* width: 100%; */
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .fnav {
       display: flex;
       justify-content: center;
       justify-content: space-evenly;
       background-color: rgb(163, 214, 163);
       width: 100%;
       height: 100px;
   }

   .fnav img {
       width: 11%;
       height: 80px;
   }

   .fnav .call {
       margin-top: 35px;
       font-size: 18px;
   }

   .fnav .gmail {
       margin-top: 35px;
       font-size: 18px;

   }

   .fnav .shop {
       margin-top: 35px;
       font-size: 18px;

   }

   .fnav .shop a {
       text-decoration: none;
   }

   input {
       background-color: lightseagreen;
       padding: 10px;
   }

   img {
       height: 490px;
       width: 100%;
   }

   .logo {
       display: block;
   }

   .snav {
       width: 100%;
       height: auto;
       position: sticky;
       top: 0;
       background-color: rgb(163, 214, 163)
   }

   .snav ul {
       list-style: none;
       text-align: center;
   }

   .snav li {
       display: inline-block;
   }

   .snav ul li a {
       text-decoration: none;
       color: black;
   }

   .snav li {
       margin: 15px 25px;
       font-size: 16px;
   }

   .head {
       text-align: center;
   }

   .head p {
       font-size: 18px;
   }

   .head h1 {
       margin-bottom: 20px;
   }

   .clearfix::after {
       content: " ";
       display: block;
       clear: both;
   }

   .a {
       width: 100%;
       height: 500px;
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       justify-content: flex-start;
       margin: 10px auto;
       text-align: center;
       
   }

   .a1 {
       width: 30%;
       height: 450px;
       text-align: center;
   }

   /* .a1 .input{
            background-color: pink;
            color: aliceblue;
        } */

   .a .a2 {
       width: 30%;
       height: 450px;
   }

   .a .a3 {
       width: 30%;
       height: 450px;
       text-align: center;
   }

   .a img {
       width: 310px;
       height: 350px;
       box-shadow: 10px 10px 5px rgb(163, 214, 163);

   }

   .a img {
       transition: transform .3s ease;
   }

   .a img:hover {
       transform: scale(1.1)
   }

   .head1 {
       width: 80%;
       text-align: center;
       margin: 10px auto;
   }

   .head1 p {
       font-size: 19px;
   }

   .clearfix::after {
       content: " ";
       display: block;
       clear: both;
   }

   .ingr {
       width: 100%;
       height: 700px;
   }
   .ingr .first {
       display: inline;
   }
   .ingr .second{
    display: inline;
}
.ingr .third{
    display: inline;
}
   .ingr div p {
       width: 49%;
       height: 100px;
     margin-left: 52%;
    margin-top: -150px;
   }

   .ingr div {
       width: 40%;
       height: 200px;
       border: solid gray 1px;
       margin-top: 15px;
   }

   .ingr img {
       height: 200px;
       width: 50%;
   }

   .ingr .div1 {
       float: left;
       margin-left: 100px;
   }

   .ingr .div2 {
       float: right;
       margin-right: 100px;
   }
   .snav .submenu1 {
       display: none;
   }

   .snav ul li:hover .submenu1 {
       display: block;
       position: absolute;
       background-color: rgb(163, 214, 163);
   }

   .snav ul li:hover .submenu1 ul li {
       display: block;
   }

   .snav ul li:hover .submenu1 ul li {
       border-bottom: solid 1px;
       padding: 5px;
   }

   .snav .submenu2 {
       display: none;
   }

   .snav ul li:hover .submenu2 {
       display: block;
       position: absolute;
       background-color: rgb(163, 214, 163);
   }

   .snav ul li:hover .submenu2 ul li {
       display: block;
   }

   .snav ul li:hover .submenu2 ul li {
       border-bottom: solid 1px;
       padding: 5px;
   }

   .snav .submenu3 {
       display: none;
   }

   .snav ul li:hover .submenu3 {
       display: block;
       position: absolute;
       background-color: rgb(163, 214, 163);
   }

   .snav ul li:hover .submenu3 ul li {
       display: block;
   }

   .snav ul li:hover .submenu3 ul li {
       border-bottom: solid 1px;
       padding: 5px;

   }

   .add {
       text-align: center;
       margin: 50px auto;
   }

   .footer {
       width: 100%;
       height: 280px;
       background-color: darkgreen;
       color: white;
       display: relative;
   }

   .footer .main {
       margin-left: 40px;
       margin-right: 40px;
       border-bottom: solid 1px white;
       margin-bottom: 0px;


   }

   .footer .main ul li {
       border-bottom: solid 1px white;
   }

   /* .footer .main .t li:last child{
            border: none;
        } */

   .footer .main p {
       font-size: 19px;
       margin-bottom: 8px;
   }

   .footer .main {
       display: flex;
       justify-content: center;
       justify-content: space-around;
   }

   .footer .main ul li a {
       text-decoration: none;
   }

   .footer.main .f {
       display: block;

   }

   .footer .main .f {
       line-height: 35px;

   }

   .footer .main .s {
       display: block;
       line-height: 35px;
   }

   .footer .main .t {
       display: block;
       line-height: 35px;
   }

   .footer .main ul {
       list-style: none;
   }

   .footer .main ul li a {
       text-decoration: none;
   }

   .footer .main ul li a {
       color: white;
   }

   .footer .main ul li a:hover {
       margin-left: 3px;
   }

   /* 
        .verical-line{
            width: 1px;
            height: 100px;
            background-color: black;
        } */



   .footer .main1 {
       height: 100px;
       width: 100%;
       background-color: rgb(16, 42, 0);
   }

   .footer .main1 .div1 {
       float: left;
       line-height: 100px;
   }

   .footer .main1 .div2 {

       float: right;
       line-height: 100px;

       /* margin-inline: 50px; */

   }

   .footer .main1 .div2 a {
       color: white;
   }